TELEGRAM_BOT_TOKEN=8950432425:AAEWlWMW3xgeOfEifqfE-eoUsRnneq-r1xM
OPENAI_API_KEY=
ADMIN_TELEGRAM_ID=412424612
WEBHOOK_URL=
PORT=3000
MANAGER_USERNAME=your_manager_username
STORE_NAME=Consultant Bot
TIME_ZONE=Asia/Tashkent
DAILY_BROADCAST_HOUR=12
DAILY_BROADCAST_MINUTE=0
